<head></head><body><h2><rich-text id="4a33bfcb-8052-4e27-aaf2-e0bf77492642">Amygdala</rich-text></h2>
<h3><rich-text id="85a4da1e-bdf1-4ab8-adb4-9d45af4b0c2d">Mood stabilizers:</rich-text></h3>
<h4><rich-text id="9d8d68e3-162f-483f-a085-5af1a8da8e30">Lithium</rich-text></h4>
<p><rich-text id="f500513d-93bb-4bbc-990a-f61a4dde9fa7">Lithium has been associated with an increase in amygdala volume, a brain region implicated in emotional processing and cognitive control suggesting that lithium has considerable neurotrophic effects<sup></sup>.</rich-text></p>
<h4><rich-text id="2f4258ec-322a-4b64-8703-85967f3e30e1">Anti-epileptic</rich-text></h4>
<p><rich-text id="228c1361-5c08-436d-8f1a-a4889f6befba">Increased amygdala volume in patients taking anti-epileptics compared to those patients who did not<sup></sup>.</rich-text></p>

<h3><rich-text id="55d73a3e-b8c4-4a1a-abaf-77ec38c25b3a">Antidepressants</rich-text></h3>
<p><rich-text id="96abfacf-6acb-483c-a6c3-d3d823d7664e">An association between decreased right amygdala volume and antidepressants have been reported in bipolar patients<sup></sup>.</rich-text></p>

<h3><rich-text id="fc6822df-ec93-4de7-868b-8d8a8628a4a9">Antipsychotics</rich-text></h3>
<p><rich-text id="9f083d97-8841-421a-a7d5-444bdddfa891">A decrease in the right amygdala volume has been associated with antipsychotic use, suggesting this may be a proxy for more severe bipolar illness<sup></sup>.</rich-text></p>
</body>