<head></head><body><h2><rich-text id="6d41fbf5-f8c1-4262-b00c-7db838d6a2a5">Anterior Cingulate Cortex (ACC)</rich-text></h2>
<h3><rich-text id="65c56a2a-b8aa-4e3a-ab4a-2103ea6dc6f5">Mood stabilizers:</rich-text></h3>
<h4><rich-text id="2758ece4-b730-47d8-b92a-43a7adf6185c">Lithium</rich-text></h4>
<p><rich-text id="92e5d1ba-2893-433c-9948-e920d92f6a26">Lithium has been associated with an increase in ACC volume, a brain region implicated in emotional processing and cognitive control suggesting that lithium has considerable neurotrophic effects<sup></sup>.</rich-text></p></body>