<head></head><body><h2><rich-text id="81a2b2da-003a-448a-92b6-990ff3f8d482">Hippocampus</rich-text></h2>
<h3><rich-text id="3b622f88-8682-4ec9-9cbf-aac851a05665">Mood stabilizers:</rich-text></h3>
<h4><rich-text id="e28ab463-34a5-4fed-8ba2-7043c19e70de">Lithium</rich-text></h4>
<p><rich-text id="f336cc9c-09c1-4308-a101-ad37655cf105">Lithium has been associated with an increase in hippocampal volume, a brain region implicated in emotional processing and cognitive control suggesting that lithium has considerable neurotrophic effects<sup></sup>. Compared to untreated patients, lithium-treated patients have an increased hippocampal volume by 14%<sup></sup>, which has been observed as early as 1-8 weeks of treatment<sup></sup>.</rich-text></p>

<h3><rich-text id="0d0bba28-059e-433b-984a-08cdcb59287d">Antipsychotics</rich-text></h3>
<p><rich-text id="f489b592-3e51-4ebc-8887-88276ab43aec">Smaller hippocampal volume has been found associated with antipsychotics in Bipolar patients compared to those patients who were not taking antipsychotics<sup></sup>.</rich-text></p>
</body>