<head></head><body><div>
  <h2><rich-text id="c3d80839-86a5-4f39-8487-7939df403c27">Prefrontal Cortex (PFC)</rich-text></h2>
  <h3><rich-text id="9594a27e-c629-4d81-83ee-fba89d19b3c8">Mood stabilizers:</rich-text></h3>
  <h4><rich-text id="e9e6223d-0d51-4a70-8c79-a8df184ca304">Lithium</rich-text></h4>
  <p><rich-text id="191f3ee4-34a3-4366-bc3c-50542d3faad0">Lithium has been associated with an increase in prefrontal cortical volume<sup></sup>, which has been observed even over a 4 week treatment period<sup></sup>. Lithium has also been shown to increase orbitofrontal cortical volume<sup></sup>, brain regions which are involved in emotion and memory.</rich-text></p>
  <h4><rich-text id="76267391-0900-4441-b408-3faeb0a60638">Anticonvulsant</rich-text></h4>
  <p><rich-text id="9c6fd264-6f54-4010-85e4-d386a0453c07">Larger orbitofrontal cortex has been reported in bipolar patients taking anticonvulsants compared to bipolar patients that were not<sup></sup>.</rich-text></p>
  <h3><rich-text id="d8e5c02a-0de5-41db-b8a6-d9c39767e98b">Antipsychotics</rich-text></h3>
  <p><rich-text id="472ddce5-26e4-4bf1-952a-b5266f157377">An increase in medial prefrontal cortical volume has been associated with antipsychotics<sup></sup>.</rich-text></p>
</div>
</body>