<head></head><body><h2><rich-text id="4f46c6ff-6708-40d7-b210-ae83983d751a">Striatum</rich-text></h2>
<h3><rich-text id="8f10ba28-a80f-4f24-af2a-7911feca1c3d">Antipsychotics</rich-text></h3>
<p><rich-text id="6c287581-fb1c-46f1-9e2b-803e716d9138">Decreased volume of the nucleus accumbens, a component of the striatum, has been associated with antipsychotic intake in patients with Bipolar compared to control individuals which may affect the reward circuit within the brain<sup></sup>.</rich-text></p>
</body>